.recipeDataContainer{

    .recipeName{
        margin: 1.5em;
    }

    .recipeImage2{
        height: 500px;
        width: auto;
    }

    .recipeImage{
        height: 500px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}